New Update Post <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"/>
<div id="post-form" class="card text-white bg-secondary mx-auto w-50 my-3 {{task}}">
    <div class="card-header ">
        <h4>{{task}} Plant</h4>
    </div>

    <div class="card-body">
        <div class="px-4 py-3">
            <div class="mb-3">
                <label for="post-title" class="form-label">Title</label>
                <input type="text" class="form-control" id="post-title" placeholder="Title" value="{{post.title}}">
            </div>
            <div class="mb-3">
                <label for="post-body" class="form-label">Post</label>
                <textarea class="form-control" id="post-body" placeholder="Post">{{post.body}}</textarea> 
            </div>

            {{#if edit}}
                <div class="mb-3">
                    <label for="post-title" class="form-label">Created By</label>
                    <input readonly type="text" class="form-control" id="post-user_id" placeholder="User" value="{{user.name}}">
                </div>
                <div class="mb-3">
                    <label for="post-title" class="form-label">Created At</label>
                    <input readonly type="text" class="form-control" id="post-created_at" placeholder="Post created at: Date/Time" value="{{post.createdAt}}">
                </div>
            {{/if}}

            <button id="createBtn" type="click" class="btn btn-dark">{{btntxt}}</button>

            {{#if edit}}
                <button id="deleteBtn" type="click" class="btn btn-dark">delete</button>
            {{/if}}
        </div>
    </div>

</div>