 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"/>

<div id="post-form" class="card text-white bg-secondary mx-auto w-50 my-3 {{task}}">
    <div class="card-header ">
        <h4>{{task}} Plant {{index}}</h4>
    </div>

    <div class="card-body">
        <div class="px-4 py-3">

            {{#if edit}}
            <div class="mb-3">
                <label for="post-title" class="form-label">Title</label>
                <input type="text" class="form-control" id="post-title" placeholder="Title" value="{{post.title}}">
            </div>

            <div class="mb-3">
                <label for="post-body" class="form-label">Post</label>
                <textarea class="form-control" id="post-body" placeholder="Post">{{post.body}}</textarea> 
            </div>

            <button id="{{task}}Btn" type="click" class="btn btn-dark">{{task}}</button>
            
            <button id="deleteBtn" type="click" class="btn btn-dark">delete</button>

            {{else}}
            <div class="mb-3">
                <label for="post-title" class="form-label">Title</label>
                <input readonly type="text" class="form-control" id="post-title" placeholder="Title" value="{{title}}">
            </div>

            {{#if (eq task "details") }} 
            <div class="mb-3">
                <label for="post-body" class="form-label">Post</label>
                <textarea readonly class="form-control" id="post-body" placeholder="Post">{{body}}</textarea> 
            </div>
            {{else}}
                <label for="post-body" class="form-label">Post</label>
                <textarea readonly class="form-control" id="post-body" placeholder="Post">{{body}}</textarea> 

                <label for="post-title" class="form-label">Created By</label>
                <input readonly type="text" class="form-control" id="post-user_id" placeholder="User" value="{{user.name}}">

                <label for="post-title" class="form-label">Created At</label>
                <input readonly type="text" class="form-control" id="post-created_at" placeholder="Post created at: Date/Time" value="{{createdAt}}">

                {{#if (eq btntxt "Tips") }}  
                    <div class="mb-3"></div>    
                        <button id="{{task}}Btn" type="click" class="btn btn-dark">{{btntxt}}</button>
                    </div>  
                {{else}}
                    <div class="mb-3"></div>    
                        <button id="{{task}}Btn" type="click" class="btn btn-dark">Add New Tip</button>
                    </div>  
                {{/if}}     
            {{/if}}

            {{/if}}
        </div>
    </div>

</div>